<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="card.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="service">
      <div class="seba-card">
        <div class="box-1">
          <img src="images/emergency-service.jpg" />
          <i class="fa-regular fa-heart"></i>
        </div>
        <div class="box-2">
          <h1>National Emergency Number</h1>
          <p class="sub-heading">National Emergency</p>
        </div>
        <div class="box-3">
          <h2>999</h2>
          <p>All</p>
        </div>
        <div class="btn-grp">
          <button class="btn-1"><i class="fa-regular fa-copy"></i>Copy</button>
          <button class="btn-2"><i class="fa-solid fa-phone"></i>Call</button>
        </div>
      </div>
      <div class="seba-card">
        <div class="box-1">
          <img src="images/police.jpg" /> <i class="fa-regular fa-heart"></i>
        </div>
        <div class="box-2">
          <h1>Police Helpline Number</h1>
          <p class="sub-heading">Police</p>
        </div>
        <div class="box-3">
          <h2>999</h2>
          <p>Police</p>
        </div>
        <div class="btn-grp">
          <button class="btn-1"><i class="fa-regular fa-copy"></i>Copy</button>
          <button class="btn-2"><i class="fa-solid fa-phone"></i>Call</button>
        </div>
      </div>
      <div class="seba-card">
        <div class="box-1">
          <img src="images/fire-service.jpg" />
          <i class="fa-regular fa-heart"></i>
        </div>
        <div class="box-2">
          <h1>Fire Service Number</h1>
          <p class="sub-heading">Fire Service</p>
        </div>
        <div class="box-3">
          <h2>999</h2>
          <p>Fire</p>
        </div>
        <div class="btn-grp">
          <button class="btn-1"><i class="fa-regular fa-copy"></i>Copy</button>
          <button class="btn-2"><i class="fa-solid fa-phone"></i>Call</button>
        </div>
      </div>
      <div class="seba-card">
        <div class="box-1">
          <img src="images/ambulance-service.jpg" />
          <i class="fa-regular fa-heart"></i>
        </div>
        <div class="box-2">
          <h1>Ambulance Service</h1>
          <p class="sub-heading">Ambulance</p>
        </div>
        <div class="box-3">
          <h2>1994-999999</h2>
          <p>Health</p>
        </div>
        <div class="btn-grp">
          <button class="btn-1"><i class="fa-regular fa-copy"></i>Copy</button>
          <button class="btn-2"><i class="fa-solid fa-phone"></i>Call</button>
        </div>
      </div>
      <div class="seba-card">
        <div class="box-1">
          <img src="images/w&c.jpg" /> <i class="fa-regular fa-heart"></i>
        </div>
        <div class="box-2">
          <h1>Women & Child Helpline</h1>
          <p class="sub-heading">Women & Child Helpline</p>
        </div>
        <div class="box-3">
          <h2>109</h2>
          <p>Help</p>
        </div>
        <div class="btn-grp">
          <button class="btn-1"><i class="fa-regular fa-copy"></i>Copy</button>
          <button class="btn-2"><i class="fa-solid fa-phone"></i>Call</button>
        </div>
      </div>
      <div class="seba-card">
        <div class="box-1">
          <img src="images/anti-corruption.jpg" />
          <i class="fa-regular fa-heart"></i>
        </div>
        <div class="box-2">
          <h1>Anti-Corruption Helpline</h1>
          <p class="sub-heading">Anti-Corruption</p>
        </div>
        <div class="box-3">
          <h2>106</h2>
          <p>Govt.</p>
        </div>
        <div class="btn-grp">
          <button class="btn-1"><i class="fa-regular fa-copy"></i>Copy</button>
          <button class="btn-2"><i class="fa-solid fa-phone"></i>Call</button>
        </div>
      </div>
      <div class="seba-card">
        <div class="box-1">
          <img src="images/pdb.jpg" /> <i class="fa-regular fa-heart"></i>
        </div>
        <div class="box-2">
          <h1>Electricity Helpline</h1>
          <p class="sub-heading">Electricity Outage</p>
        </div>
        <div class="box-3">
          <h2>16216</h2>
          <p>Electricity</p>
        </div>
        <div class="btn-grp">
          <button class="btn-1"><i class="fa-regular fa-copy"></i>Copy</button>
          <button class="btn-2"><i class="fa-solid fa-phone"></i>Call</button>
        </div>
      </div>
      <div class="seba-card">
        <div class="box-1">
          <img src="images/brac.png" /> <i class="fa-regular fa-heart"></i>
        </div>
        <div class="box-2">
          <h1>Brac Helpline</h1>
          <p class="sub-heading">Brac</p>
        </div>
        <div class="box-3">
          <h2>16445</h2>
          <p>NGO</p>
        </div>
        <div class="btn-grp">
          <button class="btn-1"><i class="fa-regular fa-copy"></i>Copy</button>
          <button class="btn-2"><i class="fa-solid fa-phone"></i>Call</button>
        </div>
      </div>
      <div class="seba-card">
        <div class="box-1">
          <img src="images/Bangladesh-Railway.png" />
          <i class="fa-regular fa-heart"></i>
        </div>
        <div class="box-2">
          <h1>Bangladesh Railway Helpline</h1>
          <p class="sub-heading">Bangladesh Railway</p>
        </div>
        <div class="box-3">
          <h2>163</h2>
          <p>Travel</p>
        </div>
        <div class="btn-grp">
          <button class="btn-1"><i class="fa-regular fa-copy"></i>Copy</button>
          <button class="btn-2"><i class="fa-solid fa-phone"></i>Call</button>
        </div>
      </div>
    </div>
  </body>
</html>
